# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch & CUDA
*.pt
*.pth
*.onnx

# Data & checkpoints
data/raw/
data/processed/
checkpoints/
logs/
# results/
*.npy
*.npz

# Virtual environment
.venv/
venv/
env/
ENV/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# LaTeX build outputs
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
